.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered-image {
    width: 480px;
    height: 480px;
    object-fit: cover;
    margin-bottom: 10px;
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}